{% extends "main/content.html" %}
{% load static %}
{% with "main" as app %}

{% block content-wrapper %}
{{ block.super }}


<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-solid" id="viewport_box">
                <div class="box-header">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="input-group input-group-sm">
                                <span class="input-group-addon">Network: </span>
                                <select id="network_select" class="form-control"></select>
                                <span class="input-group-btn">
                                    <button class="btn btn-primary btn-sm btn-flat" id="loadNetwork"><i class="fa fa-check"></i></button>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-group input-group-sm">
                                <span class="input-group-addon">Node label: </span>
                                <select id="node_label" class="form-control">
                                    <option value="ensembl">Ensembl id</option>
                                    <option value="symbol">Symbol</option>
                                    <option value="entrez">Entrez</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-default btn-sm" data-widget="collapse"><i
                                        class="fa fa-minus" style="color: black"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div id="viewport_container" class="box-body">
                        <div id="viewport"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block custom-js %}
<script type="text/javascript" src="{% static '' %}{{app}}/network/cytoscape.js"></script>
<script type="text/javascript" src="{% static '' %}{{app}}/network/enlargeNetwork.js"></script>
<script type="text/javascript" src="{% static '' %}{{app}}/network/loadNetwork.js"></script>
<script type="text/javascript" src="{% static '' %}{{app}}/network/buildNetwork.js"></script>
{% endblock %}

{% endwith %}

