{% extends "main/base.html" %}
{% load static %}
{% with "main" as app %}

{% block content-wrapper %}
<section class="content-header">
    <h1>
        Upload differential expression gene data
    </h1>
</section>
<section class="content">
    {% if result == 'fail' %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="callout callout-danger">
                <h4>Error!</h4>
                <p>Fail to upload file. {{message}}</p>
            </div>
        </div>
    </div>
    {% elif result == 'success' %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="callout callout-success">
                <h4>Success!</h4>

                <p>File has been uploaded. {{message}}</p>
            </div>
        </div>
    </div>
    {% else %}
    {% endif %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="box box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fa fa-info-circle"></i> Description</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <dl>
                        <dd>Differential expression analysis is a downstream analysis of RNA-seq to compare the
                            expression level between two or more conditions.
                        </dd>
                        <dd>Usually, it is performed by DESeq2, edgeR, limma/voom.</dd>
                        <dd>This analysis require a differential expression analysis result that shown the change
                            between 2 condition, usually represented by log2foldchange.
                        </dd>
                        <dd>The accepted file is a csv file that has at least 2 columns that show gene name and its fold
                            change analysis.
                        </dd>
                        <dd>You can upload result from DESeq2, edgeR, and limma/voom as it is or you can prepare it by
                            yourself.
                        </dd>
                        <dd>Accepted gene id are ensembl gene id and official gene symbol.</dd>
                    </dl>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>
    <div class="row">
        <!-- left column -->
        <div class="col-md-8 col-md-offset-2">
            <!-- Form Element sizes -->
            <div class="box box-success">
                <div class="box-body">
                    <form action="{% url 'main:data_uploader' %}" method="post" enctype="multipart/form-data"
                          role="form">
                        {% csrf_token %}
                        <div class="box-header with-border">
                            <h3 class="box-title">Uploader</h3>
                        </div>
                        <div class="box-body">
                            <div class="form-group">
                                <label>{{ form.dataset.label }}</label>
                                {{ form.dataset }}
                            </div>
                            <div class="form-group">
                                <label>{{ form.gene.label }}</label>
                                {{ form.gene }}
                            </div>
                            <div class="form-group">
                                <label>{{ form.lfc.label }}</label>
                                {{ form.lfc }}
                            </div>
                            <div class="form-group">
                                <label>CSV delimiter</label>
                                {{ form.delim }}
                            </div>
                            <div class="form-group">
                                <button type="button" id="uploadBtn" class="btn btn-success">Choose file</button>
                                {{ form.uploader }}
                                <p class="help-block">File name: <span id="helper"></span></p>
                                <p class="help-block">Upload your differential gene expression analysis result here.</p>
                            </div>
                        </div>
                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary"><i class="fa fa-upload "></i> Upload</button>
                        </div>
                    </form>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>
</section>
{% endblock %}

{% block custom-js %}
<script>
    $('#uploadBtn').click(function(e){
        $('#fileselector').click();
    });
    $('#fileselector').change(function(e){
        $('#helper').html($('#fileselector').val());
    });



</script>
{% endblock %}


{% endwith %}